 
  <script type="text/javascript" src="<%= DIRS.BUILD_FILE.js.jquery %>"></script>
  <script type="text/javascript" src="<%= DIRS.BUILD_FILE.js.bootstrap %>"></script>
  <!--h+模板调用的js-->
  <script type="text/javascript" src="<%= DIRS.BUILD_FILE.special.layer %>"></script>
  <script type="text/javascript" src="<%= DIRS.BUILD_FILE.js.metisMenu %>"></script>
  <script type="text/javascript" src="<%= DIRS.BUILD_FILE.js.slimscroll %>"></script>
  <script type="text/javascript" src="<%= DIRS.BUILD_FILE.js.hplus %>"></script>
  <script type="text/javascript" src="<%= DIRS.BUILD_FILE.js.pace %>"></script>
</body>
</html>